<div class="modal fade" id="modalEmailForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Email Me :</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <form action="/admin/register" method="post">
                        <label for="inputService" style="color: #b5b5b5;" name="message">Message</label>
                        <textarea type="text" id="defaultForm-email" class="form-control validate" name='Message'></textarea>
                </div>
                <button type="submit" class="btn btn-primary mx-auto">Register</button>
                <br>
                <br>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>
