<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/css') %>
</head>
<%- include('partials/headerRegistration') %>

<body style="background-image:url('img/bg-service.jpg'); width: 100%;">
    <section id="about" class="registration-section text-center" style="margin-top: 15%;margin-bottom: 15%;">
        <div class="container" style="width: 30%; height: 100%; margin-top: 100px;">
            <form action="" method="POST">
                <h2 style="color: whitesmoke;">AutoCare Form</h2>
                <div class="form-group" style="width: 100%;">
                    <label for="inputService" style="color: #b5b5b5;">Service</label>
                    <select id="inputService" name="service" class="form-control">
                        <option selected>Choose...</option>
                        <option value='Motor (Rp.50.000 s/d Rp.500.000)'>Motor (Rp.50.000 s/d Rp.500.000)</option>
                        <option value='Mobil (Rp.100.000 s/d Rp.1.000.000)'>Mobil (Rp.100.000 s/d Rp.1.000.000)</option>
                        <option value='Sepeda (Rp.20.000 s/d Rp.100.000)'>Sepeda (Rp.20.000 s/d Rp.100.000)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location" style="color: #b5b5b5;">Location</label>
                    <input type="type" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter location" name="location">
                </div>
                <div class="form-group">
                    <label for="location" style="color: #b5b5b5;">Input Tanggal</label>
                    <input class="form-control" type="datetime-local" value="2019-10-25T13:45:00"
                        id="example-datetime-local-input" name="date">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
    <script src="js/script.js"></script>
</body>
</html>
